extends layout

block content
  h1= title
  if (yarn.length > 0)
    p Before deleting this fiber, you need to delete the following yarn:
    ul
      each yarnelement in yarn
        li
          i.las.la-caret-right
          a(href=yarnelement.url) #{yarnelement.producer.brandname} #{yarnelement.name}

  else
    p Are you sure want to delete #{fiber.fibertype}?

    form(method="POST" action="")
      input#fiberid(type="hidden", name="fiberid", required="true", value=fiber._id)
      button(type="submit") Delete
