extends layout

block content
  div
    h1= title
    if(error)
      p= error
    ul.space-y-2.pl-2.pt-2
      each [key, value] of producers 
        li
          h3 #{value.brandname}
        ul.space-y-2
          each yarnunit in value.yarn
            - const yarninfo = yarndic.get(yarnunit);
            if(yarninfo !== undefined)
              li
                i.las.la-caret-right
                a(href=yarninfo.url) #{yarninfo.name}
                |
                |
                i.las.la-forward
                |
                | Stock: #{yarninfo.stock}, Colorways: #{yarninfo.colorways.length}
            else
              li There is no available yarn from this producer.

