extends layout

block content
  div
    h1= title
    if(error)
      p= error
    ul
      each [key, value] of producers 
        li #{value.brandname}
        ul
          each yarnunit in value.yarn
            - const yarninfo = yarndic.get(yarnunit);
            if(yarninfo !== undefined)
              li
                a(href=yarninfo.url) #{yarninfo.name}
                |
                | stock: #{yarninfo.stock} colorways: #{yarninfo.colorways.length}
            else
              li There is no available yarn from this producer.

