extends layout

block content
  h1.pb-2 #{title}

  ul.space-y-2
    each producer in producers_list
      if producer.contact
        li
          i.las.la-caret-right
          a(href=producer.url) #{producer.brandname}
          |   Contact: #{producer.contact}
      else
        li
          i.las.la-caret-right
          a(href=producer.url) #{producer.brandname}

  div.editlinksdiv
    a.editupdlink(href="producers/create") Add producer 
