extends layout

block content
  h1= title

  ul
    each yarn in yarnlist
      li
        a(href=yarn.url) #{yarn.producer.brandname} #{yarn.name}
        |  (#{yarn.weight.weight})

  button Add Yarn
