extends layout

block content
  h1 Add colorway or dyelot

  if(errors)
    p= errors

  form(method="POST" action="")
    div.inputdiv
      label(for="selectyarn") Yarn:
      select#selectyarn(required="true" name="selectyarn")
        each yarn in yarnavailable
          if(curryarninstance === undefined)
            option(value=yarn._id) #{yarn.producer.brandname} #{yarn.name}
          else
            option(value=yarn._id selected=(yarn._id.toString() === curryarninstance.selectyarn.toString() ? "selected" : false)) #{yarn.producer.brandname} #{yarn.name}
    div.inputdiv
      label(for="dyelot") Dyelot:
      input#dyelot(type="text" name="dyelot" required="true" value=(undefined===curryarninstance ? "" : curryarninstance.dyelot))
    div.inputdiv
      label(for="colorway") Colorway:
      input#colorway(type="text" name="colorway" required="true" value=(undefined===curryarninstance ? "" : curryarninstance.colorwayid))
    div.inputdiv
      label(for="stock") Stock:
      input#stock(type="number" name="stock" required="true" min="0" max="999" value=(undefined===curryarninstance ? "" : curryarninstance.stock))
    if(curryarninstance !== undefined)
      div.inputdiv
        label(for="editformpass") Password:
        input#editformpass(type="password" name="editformpass" required="true")
    button(type="submit") Save


