extends layout

block content

  h1= title

  h2 #{yarn_info.producer.brandname} #{yarn_info.name}

  p Weight: #{yarn_info.weight.weight}

  - var composition = "";
      each composition_detail in yarn_info.fibercomposition
        - composition += composition_detail.percentage +"% "+ composition_detail.fibertype.fibertype + " "

  p Composition: #{composition}
  p Unit weight: #{yarn_info.unitweight}g
  p Meterage: #{yarn_info.meterage}m
  if yarn_info.price
    p Unit price: #{yarn_info.price} eur

  h2 Available Colorways

  if(!yarncolorways)
    p There are no available colorways for this yarn.
  else
    ul
      each colorway in yarncolorways
        li
          a(href=colorway.url) #{colorway.colorwayid}
          |
          | (Dyelot: #{colorway.dyelot}, Stock: #{colorway.stock})


  div 
    button Edit
    button Delete
    p
      a(href='/inventory/yarncolorway/create/'+yarn_info._id) Add new colorway or dyelot
