extends layout

block content
  h1 Yarn: #{yarninfo.producer.brandname} #{yarninfo.name}
  h2= title

    if(errors)
      p= errors

    form(method="POST" action="")
      div.inputdiv
        label(for="dyelot") Dyelot:
        input#dyelot(type="text" name="dyelot" required="true" value=(undefined===curryarninstance ? "" : curryarninstance.dyelot))
      div.inputdiv
        label(for="colorway") Colorway:
        input#colorway(type="text" name="colorway" required="true" value=(undefined===curryarninstance ? "" : curryarninstance.colorwayid))
      div.inputdiv
        label(for="stock") Stock:
        input#stock(type="number" name="stock" required="true" min="0" max="999" value=(undefined===curryarninstance ? "" : curryarninstance.stock))
      if(curryarninstance !== undefined)
        div.inputdiv
          label(for="editformpass") Password:
          input#editformpass(type="password" name="editformpass" required="true")
      button(type="submit") Save

  if(yarninstances.length > 0)
    p Available colorways and dyelots for this yarn:
    ul
      each yarninstance in yarninstances
        li
          i.las.la-caret-right
          a(href=yarninstance.url) Colorway: #{yarninstance.colorwayid}
          |
          | , Dyelot: #{yarninstance.dyelot}, Stock: #{yarninstance.stock}
  else
    p There are currently no available colorways for this yarn.
