extends layout

block content
  h1= title

  if(errors)
    p Error: #{errors}

  form(method="POST" action="" enctype="multipart/form-data")
    div.inputdiv
      label(for="yarnname") Yarn name:
      input#yarnname(type="text" required="true" name="yarnname" value=(undefined === yarn ? "" : yarn.name))
    div.inputdiv
      label(for="weight") Yarn weight:
      select#weight(required="true" name="weight")
        each weight in weights
          if(yarn === undefined)
            option(value=weight._id)  #{weight.weight}
          else
            option(value=weight._id selected=(yarn.weight._id.toString() === weight._id.toString() ? "selected" : false))  #{weight.weight}
    div.flex.flex-col.gap-2
      p Yarn fiber composition:
      input#numberfibersinput(type="hidden" value=numberfibers name="numberfibersinput")
      - for(let i =0; i < numberfibers; i++)
        div.inputdiv(id="fiberdiv"+i)
          input(id='fiberperc'+i type='number' name='fiberperc'+i required=true min="1" max="100" value=(undefined === yarn ? "" : yarn.fibercomposition[i].percentage))
          label(for="fiberperc"+i) %
          select(id="fibertype"+i required="true" name="fibertype"+i)
            each fiber in fibers
              if(yarn === undefined)
                option(value=fiber._id) #{fiber.fibertype}
              else
                option(value=fiber._id selected=(fiber._id.toString() === yarn.fibercomposition[i].fibertype._id.toString() ? "selected" : false)) #{fiber.fibertype}
    div.inputdiv
      label(for="unitweight") Weight per unit (grams):
      input#unitweight(type="number" required="true" min="1" max="2000" name="unitweight" value=(undefined === yarn ? "": yarn.unitweight))
    div.inputdiv
      label(for="meterage") Meters per unit:
      input#meterage(type="number" required="true" min="1" name='meterage' max="2000" value=(undefined === yarn ? "" : yarn.meterage))
    div.inputdiv
      label(for="price") Price per unit:
      input#price(type="number" step='0.01' required="true" min="0.01" name="price" value=(undefined === yarn ? "" : yarn.price))
    div.inputdiv
      label(for="producer") Producer:
      select#producer(required="true" name="producer")
        each producer in producers
          if(yarn === undefined)
            option(value=producer._id) #{producer.brandname}
          else
            option(value=producer._id selected=(producer._id.toString() === yarn.producer._id.toString() ? 'selected' : false)) #{producer.brandname}
    div.inputdiv
      if(!photo)
        label(for='yarnphoto') Upload photo
        input#photo(type="file" name="yarnphoto")
        if(yarn !== undefined)
          label(for="editformpass") Password:
          input#editformpass(type="password" name="editformpass" required="true")
    button(type="submit") Save

  if(photo)
    div#photoplace
      img(src=yarn.imagepath alt="yarnimage")

      a(href=yarn.url+"/deleteimage") Delete image
