extends layout

block content
  h1= title
  div.descriptiondiv
    p Colorway: #{yarninstance.colorwayid}
    p Dyelot: #{yarninstance.dyelot}
    p Stock: #{yarninstance.stock}

  div.editlinksdiv
    a.editupdlink(href=yarninstance.url+"/update") Edit
    a.editupdlink(href=yarninstance.url+"/delete") Delete
