extends layout

block content
  h1= title

  if (yarncolorways.length > 0)
    p You need to delete the following colorways and dyelots, before deleting #{yarn_info.name}:
    ul
      each yarn in yarncolorways
        li
          i.las.la-caret-right
          |
          a(href=yarn.url) #{yarn.colorwayid}
  else
    p Are you sure you want to delete #{yarn_info.name}?
    if(errors)
      p= errors
    form(method="POST" action="")
      input#yarnid(name="yarnid" value=yarn_info._id type="hidden")
      div.inputdiv
        label(for="editformpass") Password:
        input#editformpass(type="password" name="editformpass" required="true")
      button(type="submit") Delete

